/* Menu_banner.css */

/* Encabezado */
.header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-text {
    font-size: 24px;
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  /* Carrusel de imágenes */
.image-slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 20px;
}

.image-container {
  display: flex;
  animation: scrollImages 20s linear infinite;
}

/* Estilo para las imágenes */
.image-container img {
  width: 500px;
  height: 300px;
  margin-right: 10px;
}

/* Animación para el desplazamiento de las imágenes */
@keyframes scrollImages {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* El truco para el carrusel infinito: duplicar las imágenes */
.image-container::after {
  content: "";
  flex: 0 0 auto;
  width: 500px; /* Ancho de la imagen */
  height: 300px; /* Altura de la imagen */
  margin-right: 10px; /* Espaciado entre las imágenes */
}

  /* Estilos para el icono de WhatsApp */
.whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25D366; /* Color verde de WhatsApp */
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.whatsapp-icon a {
  color: white;
  text-decoration: none;
}

.whatsapp-icon a:hover {
  color: #128C7E; /* Color del ícono de WhatsApp cuando pasa el ratón */
}
