/* Estilo para el ícono del carrito flotante */
.cart-icon {
  position: fixed;
  width: 90px;
  height: 80px;
  background-color: #ff9800;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.cart-icon:hover {
  background-color: #f57c00;
}

.cart-icon .cart-count {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 18px;
}

.cart-modal {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  width: 400px;
  height: 100%;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  overflow-y: auto;
  z-index: 999;
}

.cart-modal h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.cart-modal button {
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}


/* Estilo para los elementos del carrito */
.cart-modal ul {
  list-style-type: none;
  padding: 0;
}

.cart-modal li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.cart-modal img {
  width: 50px; /* Ajusta el tamaño de la imagen aquí */
  height: 50px; /* Ajusta el tamaño de la imagen aquí */
  object-fit: cover; /* Asegura que la imagen mantenga su proporción */
  margin-right: 10px;
}

.cart-modal div {
  margin-right: 10px;
}

.cart-modal .quantity-controls {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.cart-modal .quantity-controls button {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 5px 10px;
  cursor: pointer;
}

.cart-modal .quantity-controls span {
  margin: 0 5px;
}

/* Botón de minimizar */
.minimize-btn {
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  color: #000;
}

.minimize-btn:hover {
  color: #444;
}

/* Botón de eliminar */
.cart-modal .remove-btn {
  background-color: #f44336;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.cart-modal .remove-btn:hover {
  background-color: #e53935;
}

/* Total y botón de checkout */
.cart-modal .cart-total {
  font-weight: bold;
  margin-top: 20px;
}

.cart-modal .checkout-btn {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
}

.cart-modal .checkout-btn:hover {
  background-color: #218838;
}
