/* Navbar.css */

/* Estilo para el header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.logo img {
  width: 200px;
  height: 150px;
  margin-left: 100px;
}

/* Menú de navegación */
nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #000000;
}

/* Iconos */
nav ul li a svg {
  margin-right: 8px;
  font-size: 20px;
}


