/* Footer.css */

/* Estilo general del footer */
.footer {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
}

.footer-logo img {
  width: 250px;
  height: 150px;
  
}

.footer-links ul, .footer-social ul {
  list-style-type: none;
  padding: 0;
}

.footer-links li, .footer-social li {
  margin: 8px 0;
}

.footer-link, .social-link {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}



.footer-bottom {
  text-align: center;
  font-size: 14px;
  color: #aaa;
}

.footer-bottom p {
  margin: 0;
}
