/* Definición de variables globales */
:root {
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Arial', sans-serif;
  
    --color-primary: #3498db; /* Azul */
    --color-secondary: #2ecc71; /* Verde */
    --color-background: #f4f4f4; /* Color de fondo */
    --color-text: #333; /* Color de texto principal */
  
    --font-size-base: 16px; /* Tamaño base de fuente */
    --font-size-lg: 1.25rem; /* Tamaño grande */
    --font-size-sm: 0.875rem; /* Tamaño pequeño */
  
    --line-height: 1.5; /* Altura de línea */
  }
  
  /* Estilos globales que usan las variables */
  body {
    font-family: var(--font-primary);
    font-size: var(--font-size-base);
    line-height: var(--line-height);
    background-color: var(--color-background);
    color: var(--color-text);
  }
  
  h1, h2, h3 {
    font-family: var(--font-primary);
  }
  
  p {
    font-family: var(--font-primary);
  }
